#userTable{
    direction: ltr;
    width: 98%;
    margin: auto;
}

.rdt_Table{
    background-color: aqua;
    direction: ltr;
}

.rdt_TableRow{
    border: black solid 2px;
}

.rdt_TableCol{
    background-color: aquamarine;
    
}

.right{
    text-align: right;
}

.btnPub{
    width: 150px;
    height: 30px;
    border-radius: 6px;
    border: white solid 2px;
    background-color: #3a842b;
    color:white;
    margin-top: 10px;
}

.articlesPublic{
    border: black solid 2px;
    border-radius: 10px;
    min-height: 100px;
    margin-top: 5px;
}

.itemPublicArticle{
    direction: rtl;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px;
}

table{
    direction: rtl;
    width: 98%;
}

th,td{
    border: black solid 1px;
}

.btnTable{
    width: 50px;
    height: 40px;
}

.alertMargin{
    margin: 10px;
    border-radius: 10px;
}

.red{
    background-color: red;
    color: white;
}

.green{
    background-color: green;
    color: white;
}

.popup-message {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 20px;
    font-size: 1.2em;
    animation: descend 0.5s ease forwards;
  }
  
  @keyframes descend {
    0% {
      top: -100%;
    }
    100% {
      top: 0%;
    }
  }