#userTable{
    direction: ltr;
    width: 98%;
    margin: auto;
}

.rdt_Table{
    background-color: aqua;
    direction: ltr;
}

.rdt_TableRow{
    border: black solid 2px;
}

.rdt_TableCol{
    background-color: aquamarine;
    
}

#userTable button{
    width: 150px;
    height: 30px;
    border-radius: 6px;
    border: white solid 2px;
    background-color: #3a842b;
    color:white;
    margin-top: 10px;
}
