form{
    direction: ltr;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}

form label{
    display: flex;
    align-items: center;
    justify-content: space-between;
   height: 50px;
   font-family: 'Times New Roman', Times, serif;
   font-size: 24px;

}

form input{
    margin: 10px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
}

form #submit{
    width: 24%;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    border: white solid 3px;
    background-color: #3a842b;
    color: white;
}

p{
    margin-bottom:10px ;
    font-size: 24px;
}