Footer{
    margin-top: 100px;
    width: 96%;
    height: 80px;
    margin: auto;
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

Footer #A_creator{
    width: 26%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

Footer #A_creator > a{
    text-decoration: none;
    font-size: 30px;
    color: white;
}

Footer p{
    margin: auto 0;
}