#main{
    direction: rtl;
    display: flex;
    min-height: 80vh;
    background-color: #66B1F2;
}

#contprofile{
    width: 80%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

#profileImg{
    width: 300px;
}

#imageP{
    width: 250px;
    height: 250px;
    background-image: url(../images/photo-99135_960_720.png);
    background-size: 100%;
    border-radius: 13%;
    background-repeat: no-repeat;
    box-shadow: 5px 5px;
    border: white solid 2px;
    margin:20px;
}

#imageP > img{
    border-radius: 12%;
}

#file{
    height: 20px;
    width: 170px;
    margin: auto;
}

/*#fetchPass{
    
}*/





